.split-pane {
    -fx-background-color: white;
    -fx-box-border: transparent;
}

.code-area {
    -fx-background-color: white;
    -fx-font-size: 14px;
}

.code-area .text {
    -fx-fill: black;
}

.code-area .lineno {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #666666;
    -fx-padding: 0 5px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #e0e0e0;
}

.code-area .keyword {
    -fx-fill: #000080;
    -fx-font-weight: bold;
}

.code-area .string {
    -fx-fill: #008000;
}

.code-area .comment {
    -fx-fill: #808080;
}

.code-area .number {
    -fx-fill: #0000ff;
}

.text-area {
    -fx-font-family: 'Consolas';
    -fx-font-size: 13px;
}

.text-area .content {
    -fx-background-color: white;
}

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0 1px;
    -fx-background-color: #e0e0e0;
}

.virtual-flow {
    -fx-background-color: white;
}